sample-webhook-workflow.json
{
  "name": "Sample Webhook Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sample-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "sample-webhook-id"
    },
    {
      "parameters": {
        "jsCode": "// Process incoming webhook data\nconst data = $input.all();\n\nconst processedData = data.map(item => ({\n  timestamp: new Date().toISOString(),\n  originalData: item.json,\n  message: 'Data processed successfully'\n}));\n\nreturn processedData;"
      },
      "id": "code-node",
      "name": "Process Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respond-node",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Process Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Data": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "instanceId": "sample-instance"
  },
  "tags": []
}