slack-monitoring-alerts.json
{
  "name": "Slack Monitoring Alerts",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "monitoring-alert",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "monitoring-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.severity }}",
              "operation": "equals",
              "value2": "critical"
            }
          ]
        }
      },
      "id": "if-critical-node",
      "name": "Check Severity",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "channel": "#alerts-critical",
        "text": "🚨 CRITICAL ALERT",
        "attachments": [
          {
            "color": "#ff0000",
            "title": "={{ $json.alertTitle }}",
            "text": "={{ $json.message }}",
            "fields": {
              "item": [
                {
                  "short": true,
                  "title": "Service",
                  "value": "={{ $json.service }}"
                },
                {
                  "short": true,
                  "title": "Time",
                  "value": "={{ $now.toISO() }}"
                }
              ]
            }
          }
        ],
        "options": {}
      },
      "id": "slack-critical-node",
      "name": "Slack Critical Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [650, 250]
    },
    {
      "parameters": {
        "channel": "#alerts-general",
        "text": "⚠️ Alert: {{ $json.alertTitle }}",
        "options": {}
      },
      "id": "slack-normal-node",
      "name": "Slack Normal Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [650, 350]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { status: 'success', message: 'Alert sent' } }}",
        "options": {}
      },
      "id": "respond-node",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Check Severity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Severity": {
      "main": [
        [
          {
            "node": "Slack Critical Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack Normal Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Critical Alert": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Normal Alert": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "tags": ["monitoring", "slack", "alerts"]
}